/*--======================================================= FOOTER =================================================--*/
/*
 Evaluation: Sujet Garage - ECF DWWM (1)
 Giet FRANCK Graduate Développeur PHP/Symfony Promo BECQUEREL
 code passé au validator w3c, code valide: oui
*/

.content-footer {
  height: auto;
  width: 100%;
}

.footer-header {
  display: flex;
  flex-direction: column; /*row*/

  justify-content: center;

  align-items: center;
  align-content: center;

  height: 225px;
  width: 100%;

  color: white;

  padding: 20px;
}

.footer-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
}

.footer-contact {
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  height: 100%;
  width: 12.5em; /*================================================================================================= 1 */
}

.mention-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  color: white;

  text-decoration: none;
}
a > .contact-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  color: white;
  text-decoration: none;
  letter-spacing: 0px;
}

.hours {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 200px;

  /*text-align: center;*/
  justify-content: center;
  text-decoration: none;
  font-size: 20px; /*20px*/

  color: white;
  border: 1px solid white;
  border-radius: 5px;

  padding: 5px;
}
/*
h5>.title-f {
  justify-content: center;
}*/

/* ajout test */
.title-f {
  display: flex;
  flex-direction: column;
  text-align: center; /* POUR CENTRE LE TITRE */
  /*center*/
  color: white;
  font-size: 18px;
}

.contact-phone {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: white;

  justify-content: left; /* POUR CENTRER LES CHAMPS */
  width: 100%;
}

.mention {
  margin-left: 0px;
  width: auto;
  color: white;
  text-decoration: none;
  /*color: darkgrey;*/
}

.contact {
  margin-left: 8px;
  width: auto;
  color: white;
  text-decoration: none;
}

.mention,
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*color: darkgrey;*/
}

a:hover,
.contact:hover,
.mention:hover,
.hours:hover {
  color: lightgreen;
}

/*----------------------------------------------------------------------------------------------- LIGNE SEPARATRICE --*/
/*
.content-ligne {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: auto;
}

.hr {
  width: 80%;
  height: 1px;
  justify-content: center;
  background: white;
}
*/

/*----------------------------------------------------------------------------------------------- LIGNE SEPARATRICE --*/

.content-ligne {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  /*height: auto;
  height: 1px;*/
}

.hr {
  width: 80%;
  height: 1px;
  justify-content: center;
  background: white;
  color: white;
  border: 0;
  padding: 1px;
}

.hr {
  color: white !important;
}


/*------------------------------------------------------------------------------------------------ CALENDRIER FOOTER--*/

.footer-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.footer-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 20px; /*20px*/
}

.tab-calendar {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  margin: 0px;

  height: 100%;
  width: 100%;

  margin: 0px 0px 0px 0px;
  padding: 5px; /*20px*/
}
/*
th,tr {
  border-bottom: 1px solid white !important;
}*/
/*----------------------------------------------------------------------------------------------------- VERSION 2 --*/

table {
  color: white;
}
/*---------------------------- MODIFICATION TEST */
caption,
.text-center {
  caption-side: top;
  color: white;
  text-align: center;
}

caption {
  height: 48px;
  padding: 8px;
  margin: 0px;
}

.caption {
  caption-side: top;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}


/*================================================================================================================= 1 */

td,
th,
caption,
.mention,
.contact,
.bi-at,
.bi-telephone,
.sunday {
  /*, .text-center*/
  color: darkgrey;
}
/*====================================================================================================================*/
/*-----------------------------------------------*/

colgroup {
  display: table-column-group;
}

thead {
  width: auto;
  text-align: center;
}

.hourly {
  /*
  font-size: 20px;
  width: 100%;
  font-weight: 500;
  */
  text-align: center;
}

tbody {
  font-size: 90%;
  font-style: italic;

  text-align: left;
}

tfoot {
  font-weight: bold;
}

tr,
th,
td {
  border: 1px solid white;
  padding: 5px;
}

/*
caption {
  display: table-caption;
  text-align: center;
}
*/
/*
.caption,
th,
td {
  font-size: 16px;
}*/
/*------------------------------------------------------------------------------------------ Option Reseaux sociaux --*/

.reseaux {
  display: block;
  height: auto;
  width: 100%;
  background: #273746;
}

.socials-reseaux {
  display: flex;
  flex-direction: row;

  font-size: 1.2rem;
  color: #fffc00;

  align-items: center;
  justify-content: center;
}

.fa,
.fa-android {
  color: #7dc95e;
}

.icon-appli {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%; /*auto*/
  color: white;
  color: #7dc95e;
}

.fa-facebook,
.fa-linkedin,
.fa-twitter,
.fa-instagram {
  padding: 2px;
  color: transparent;
}

/*
.socials-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}*/
/*------------------------------------------------------------------------------------------------------- COPYRIGHT --*/

#copyrighting {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;
  text-align: center;

  color: white;
  height: 100px;
  width: 100%;
  font-size: 10px;
}

/*---------------------------------------------------------------------------------------------- STYLE ARRIERE PLAN --*/
.content-footer,
.reseaux {
  background-color: darkolivegreen;
  background: #262526;
}
